# CosmoAI Week 2 Assignment
### Submitted by Roopmathi Gunna

In [ ]:
# This is Python assignment submission for Cosmo AI Learning community
# Author: Roopmathi Gunna 
#Date created: 12-Aug-2023

### Q1. Write a program to calculate the sum of two numbers entered by the user.

In [8]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum_result = num1 + num2
print("Sum of two numbers you entered is:", sum_result)

Enter the first number: 8
Enter the second number: 4
Sum of two numbers you entered is: 12.0

### Q2. Write a program to swap the values of two variables.

In [2]:
a = int(input("Enter the value of variable 'a': "))
b = int(input("Enter the value of variable 'b': "))

# Iam swapping using a temporary variable
temp = a
a = b
b = temp

print("After swapping:")
print("Value of 'a':", a)
print("Value of 'b':", b)

Enter the value of variable 'a': 5
Enter the value of variable 'b': 6
After swapping:
Value of 'a': 6
Value of 'b': 5

### Q3. Write a program to calculate the area of a rectangle given its length and width.

In [4]:
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

area = length * width
print("Area of the rectangle:", area)

Enter the length of the rectangle: 8
Enter the width of the rectangle: 5
Area of the rectangle: 40.0

### Q4. Write a program to convert temperature from Celsius to Fahrenheit.

In [6]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print("Temperature in Fahrenheit is:", fahrenheit, "F")

Enter temperature in Celsius: 32
Temperature in Fahrenheit is: 89.6 F

### Q5. Write a program to find the maximum of three numbers entered by the user.

In [33]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

max_number = max(num1, num2, num3)
print(" The Maximum number is :", max_number)

Enter the first number: 3
Enter the second number: 8
Enter the third number: 5
 The Maximum number is : 8.0

### Conversion Tasks

### Q6. Convert from integer to string

In [26]:
# Get an integer from the user and validate input with a Try and Except block

try:
    integer_num = int(input("Enter an integer: "))
    
    # Convert the integer to a string
    string_num = str(integer_num)

    print("Integer:", integer_num)
    print("String:", string_num)
    print("Data type after conversion:", type(string_num))
except ValueError:
    print("Invalid input. Please enter a valid integer.")

Enter an integer: 9
Integer: 9
String: 9
Data type after conversion: <class 'str'>

### Q7. Convert from string to float

In [27]:
# Get a string from the user
string_float = input("Enter a floating-point number as a string: ")

try:
    # Convert the string to a float
    float_num = float(string_float)
    
    print("String:", string_float)
    print("Float:", float_num)
    print("Data type after conversion:", type(float_num))
except ValueError:
    print("Invalid input. Please enter a valid floating-point number.")

Enter a floating-point number as a string: 976802356743.123456
String: 976802356743.123456
Float: 976802356743.1234
Data type after conversion: <class 'float'>

### Q8. Convert from list to string

In [29]:
# Get input list from the user
input_list = input("Enter a list of elements separated by commas: ")

# Convert the input list to a string with elements separated by commas
list_as_string = ', '.join(input_list.split(','))

print("List:", input_list)
print("String:", list_as_string)
print("Data type after conversion:", type(list_as_string))

Enter a list of elements separated by commas: 1,2,3,4,5,q,w,e,r,t,y,&,*,%,A,S,D,7,8,9
List: 1,2,3,4,5,q,w,e,r,t,y,&,*,%,A,S,D,7,8,9
String: 1, 2, 3, 4, 5, q, w, e, r, t, y, &, *, %, A, S, D, 7, 8, 9
Data type after conversion: <class 'str'>

### Q9. Convert from string to list

In [23]:
# Approach 1 - Assumes the String list provided has numbers ONLY
#[ This may never happen in real-life but lets try this for giggles, expect the expected!]

# Get input string from the user
string_with_list = input("Enter a string of numbers containing separated by commas: ")

# Process the input string into a list using eval() - Not recommended for untrusted input!
list_from_string = eval(string_with_list)

print("String:", string_with_list)
print("List:", list_from_string)
print("Data type after conversion:", type(list_from_string))

#eval(string_with_list) evaluates the string as if it were a line of Python code. 
#In this case, it treats the content of string_with_list as a list literal and converts it into an actual list.

Enter a string of numbers containing separated by commas: 4,5,8,9,3,2
String: 4,5,8,9,3,2
List: (4, 5, 8, 9, 3, 2)
Data type after conversion: <class 'tuple'>

In [22]:
# Approach 2: Using a Single List Comprehension with strip()
# Expect the unenexpected(Includes logic to handle numbers,characters and special characters)
# Get input string from the user

string_with_list = input("Enter a string containing elements separated by commas: ")

# Process the input string into a list
list_from_string = [item.strip() for item in string_with_list[1:-1].split(',')]

print("String:", string_with_list)
print("List:", list_from_string)
print("Data type after conversion:", type(list_from_string))

Enter a string containing elements separated by commas: 3,B,4,$,z,#,great
String: 3,B,4,$,z,#,great
List: ['', 'B', '4', '$', 'z', '#', 'grea']
Data type after conversion: <class 'list'>

### Q10. Convert from string to int

In [32]:
# Converting a string like "forty two" to an integer using int() would result
# in a "ValueError" since the string cannot be directly converted to an integer. 
# To handle such cases, we can use a try-except block to catch the ValueError and handle it appropriately

string_num = "forty two"
# Get a string from the user
string_num = input("Enter a string that represents an integer: ")

try:
    int_num = int(string_num)
    print("String:", string_num)
    print("Integer:", int_num)
    print("Data type after conversion:", type(int_num))
except ValueError:
    print("Error: The string you entered cannot be converted to an integer.")

Enter a string that represents an integer: forty two
Error: The string you entered cannot be converted to an integer.